<div id="profile-card" class="card card--center card--shadowed">
    <div class="card__header card__header--p-2">
        <div class="avatar">
            <img src="~/resource/media/images/photos/IMG_20201202011002.jpg" />
        </div>
        <h1 class="card__heading">Johnny <strong>Le</strong></h1>
        <div class="tag tag--bg-grey">Web Developer</div>
        <div class="icon-group container container--p-t-2">
            <a href="https://github.com/Johnny0121" target="_blank"><i class="icon icon--link icon--disabled-interactive icon--size-4 fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/johnnyle-lej1/" target="_blank"><i class="icon icon--link icon--disabled-interactive icon--size-4 fab fa-linkedin"></i></a>
        </div>
    </div>
    <div class="card__content card__content--bg-grey">
        <ul class="card__list">
            <li class="card__list-item"><i class="card__list-item-icon fas fa-university"></i>Aston University</li>
            <li class="card__list-item"><i class="card__list-item-icon fas fa-location-arrow"></i>Birmingham, UK</li>
            <li class="card__list-item"><i class="card__list-item-icon fas fa-book-open"></i>BSc Computer Science (4th year)</li>
        </ul>
    </div>
    <div class="card__content card__content--p-3">
        <a href="mailto:contact.lejohnny@gmail.com" class="button button--secondary">Email Me</a>
    </div>
</div>