@{
    ViewData["Title"] = "Academics";
}

<div class="cards-container flex">
    <partial name="MainComponent/_Profile" />
    <div id="content-card" class="card card--shadowed">
        <div class="card__header card__header--p-h-2 card__header--p-b-2">
            <h1 class="card__heading"><strong>Academics</strong></h1>
            <p>Below presents a timeline of my academic studies since high school.</p>
            <br />
            <div id="navigationButtons" class="button-group button-group--responsive">
                <a class="button button--tertiary button--secondary" asp-controller="Home" asp-action="Index"><i class="icon icon--inline fas fa-caret-left"></i>Home</a>
                <a class="button button--tertiary button--secondary" asp-controller="Home" asp-action="Experience">Experience</a>
                <a href="#" class="button button--disabled button--tertiary button--bg-disabled"><i class="icon icon--inline fas fa-download"></i>Resume</a>
            </div>
        </div>
        <div class="card__content card__content--p-h-2">
            <div class="timeline">
                <div class="timeline__item">
                    <h1 class="timeline__timestamp">SEP 2017 - PRESENT</h1>
                    <h2 class="timeline__title"><span class="timeline__title--bold">Computer Science BSc,</span> Aston University - Excellence Scholarship</h2>
                    <div class="timeline__content">
                        <ul>
                            <li>Year 1 (1st) - Including modules in Internet Computing, Database and Information Systems, Java Programming Foundations et al.</li>
                            <li>Year 2 (1st) - Including modules in Internet Applications and Techniques, Data Structures and Algorithms, Group Project et al.</li>
                            <li>Year 3 (1st) - Placement year at Pinewood Technologies within the Web development team.</li>
                            <li><a class="link" asp-controller="Academics" asp-action="Year4">Year 4</a> - Current</li>
                        </ul>
                    </div>
                </div>
                <div class="timeline__item">
                    <h1 class="timeline__timestamp">SEP 2017 – AUG 2019</h1>
                    <h2 class="timeline__title"><span class="timeline__title--bold">Chinese Mandarin - Beginners and Intermediate,</span> Aston University - LFA Scholarship</h2>
                    <div class="timeline__content">
                        <ul>
                            <li>Year 1 (1st) - Beginners</li>
                            <li>Year 2 (1st) - Intermediate</li>
                        </ul>
                    </div>
                </div>
                <div class="timeline__item">
                    <h1 class="timeline__timestamp">SEP 2015 – AUG 2017</h1>
                    <h2 class="timeline__title"><span class="timeline__title--bold">A Levels,</span> Matthew Boulton College</h2>
                    <div class="timeline__content">
                        <ul>
                            <li>A - Computing</li>
                            <li>A - Biology</li>
                            <li>B - Mathematics</li>
                        </ul>
                    </div>
                </div>
            </div>

            <h1 class="alert alert-1 alert-1--primary">Interests & Hobbies</h1>
            <div class="timeline">
                <div class="timeline__item">
                    <ul>
                        <li>Bouldering and Mountaineering</li>
                        <li>Aston Computer Science Society</li>
                        <li>Eastern Languages</li>
                        <li>Badminton</li>
                        <li>UI/UX Design (Adobe XD, InVision)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>