@{
    ViewData["Title"] = "Experience";
}

<div class="cards-container flex">
    <partial name="MainComponent/_Profile" />
    <div id="content-card" class="card card--shadowed">
        <div class="card__header card__header--p-h-2 card__header--p-b-2">
            <h1 class="card__heading"><strong>Experience</strong></h1>
            <p>Below presents a timeline of my experiences and current status.</p>
            <br />
            <div id="navigationButtons" class="button-group button-group--responsive">
                <a class="button button--tertiary button--secondary" asp-controller="Home" asp-action="Index"><i class="icon icon--inline fas fa-caret-left"></i>Home</a>
                <a class="button button--tertiary button--secondary" asp-controller="Home" asp-action="Academics">Academics</a>
                <a href="#" class="button button--disabled  button--tertiary button--bg-disabled"><i class="icon icon--inline fas fa-download"></i>Resume</a>
            </div>
        </div>
        <div class="card__content card__content--p-h-2">
            <div class="timeline">
                @*<div class="timeline__item">
                        <h1 class="timeline__timestamp">SEP 2020 - PRESENT</h1>
                        <h2 class="timeline__title"><span class="timeline__title--bold">Web Developer (Casual Hours)</span> Pinewood Technologies PLC</h2>
                        <div class="timeline__content">
                            <p>Part-time work within Web development (full stack), following a graduate offer at Pinewood Technologies. Continual responsibilities and tasks as during my placement year.</p>
                        </div>
                    </div>*@
                <div class="timeline__item">
                    <h1 class="timeline__timestamp">SEP 2020 - PRESENT</h1>
                    <h2 class="timeline__title"><span class="timeline__title--bold">Aston Peer Mentor</span> Aston University Careers+Placements</h2>
                    <div class="timeline__content">
                        <p>Mentor as part of the E-Mentoring programme, providing support and information for first, second and placement-year Computer Science undergraduates.</p>
                    </div>
                </div>
                <div class="timeline__item">
                    <h1 class="timeline__timestamp">SEP 2019 - SEP 2020</h1>
                    <h2 class="timeline__title"><span class="timeline__title--bold">Placement Web Developer</span> Pinewood Technologies PLC</h2>
                    <div class="timeline__content">
                        <p>Technologies: C#, ASP.NET Framework & Core (MVC/API), JS, JQuery, KnockoutJS, SQL (Server), TFS, Docker, Azure Services & DevOps</p>
                        <p>Industrial Placement year in Web development, gaining technical experience in developing/maintaining web APIs, microservices and UX design, working with ASP.NET.</p>
                        <p>Worked on sites for <a href="https://www.carstore.com/" target="_blank" class="link">CarStore.com</a>, <a href="https://www.stratstone.com/" target="_blank" class="link">Stratstone.com</a>, <a href="https://www.evanshalshaw.com/" target="_blank" class="link">EvansHalshaw.com</a> and Pinewood CMS.</p>
                        <ul>
                            <li>Projects: Enrolment portal, DevOps Dashboard</li>
                        </ul>
                        <p>Received graduate offer and casual-hours contract (during my final year at university).</p>
                    </div>
                </div>
                <div class="timeline__item">
                    <h1 class="timeline__timestamp">OCT 2019 - MAY 2020</h1>
                    <h2 class="timeline__title"><span class="timeline__title--bold">Aston University Careers+Placements</span> Aston Peer Mentor</h2>
                    <div class="timeline__content">
                        <p>Mentor as part of the E-Mentoring programme, providing support and information for first and second-year Computer Science undergraduates.</p>
                    </div>
                </div>
                <div class="timeline__item">
                    <h1 class="timeline__timestamp">JUN 2019 – SEP 2019</h1>
                    <h2 class="timeline__title"><span class="timeline__title--bold">Web Developer</span> Beautiful Canoe</h2>
                    <div class="timeline__content">
                        <p>Technologies: Laravel, Git (Lab), JS, Bootstrap, Vagrant, R, SQL</p>
                        <p>Summer contractual position developing and maintaining websites for two clients, gaining technical experience, improving team and communicational skills.</p>
                        <p>Projects:</p>
                        <ul>
                            <li>FLDB - Text Crimes, Aston Contractor and Tradesperson Sign-In System</li>
                        </ul>
                    </div>
                </div>
                <div class="timeline__item">
                    <h1 class="timeline__timestamp">OCT 2018 - MAY 2019</h1>
                    <h2 class="timeline__title"><span class="timeline__title--bold">Aston Peer Mentor</span> Aston University Careers+Placements</h2>
                    <div class="timeline__content">
                        <p>Mentor as part of the E-Mentoring programme, providing support and information for first Computer Science undergraduates.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>