@{
    ViewData["Title"] = "Home Page";
}

<div class="cards-container flex">
    <partial name="MainComponent/_Profile" />
    <div id="content-card" class="card card--shadowed">
        <div class="card__header card__header--p-h-2 card__header--p-b-2">
            <h1 class="card__heading"><strong>About me</strong></h1>
            <p>I'm a final year undergraduate with industrial experience in web development (full-stack), now looking for a graduate opportunity in software/web development!</p>
            <div id="navigationButtons" class="button-group button-group--responsive">
                <a class="button button--tertiary button--secondary" asp-controller="Home" asp-action="Experience">Experience</a>
                <a class="button button--tertiary button--secondary" asp-controller="Home" asp-action="Academics">Academics</a>
                <a href="#" class="button button--disabled button--tertiary button--bg-disabled"><i class="icon icon--inline fas fa-download"></i>Resume</a>
            </div>
        </div>
        <div class="card__content card__content--p-2 card__content--bg-grey">
            <h1 class="title title--size-3 title-style-1"><strong>What I do</strong></h1>
            <p>I have been programming for 5 years and have over a year of full-stack web development experience.</p>
            <p>Currently, I'm studying in my final year towards my bachelor's degree. Hopefully, I have the experience and right skills for you to consider me working at your company!</p>

            <p><strong>Current Projects:</strong></p>
            <ul>
                <li><a class="link" href="https://research.aston.ac.uk/en/equipments/the-aston-interactive-media-aim-lab" target="_blank">AIM Lab</a> Equipment Inventory & Loan Management System, supervised under <a class="link" href="https://www2.aston.ac.uk/eas/staff/a-z/dr-jo-lumsden" target="_blank">Dr Joanna Lumsden</a></li>
                <li><a class="link" href="https://github.com/Johnny0121/Mango" target="_blank">Mango</a> Kitchen Management System (Side Project)</li>
            </ul>
        </div>
        <div class="card__content card__content--p-2">
            <h1 class="title title--size-3 title-style-1"><strong>Technologies</strong></h1>
            <div class="">
                <p><strong>Version Control:</strong> TFS, Git</p>
                <p><strong>Web Frameworks:</strong> ASP.NET (Core &amp; Framework), Laravel</p>
                <p><strong>Languages:</strong> C#, Java, PHP, SQL, JavaScript</p>
                <p><strong>Miscellaneous:</strong> Azure, jQuery, Knockout.js, LibGDX, Bootstrap, Vue.js, Node.js</p>
                <p><strong>Currently learning:</strong> React.js, Docker</p>
            </div>
        </div>
    </div>
</div>