@import '../../Variables.scss';
@import '../../Mixins.scss';

.icon {
    @include fontSize;
    @include colourInteractive;

    &--inline {
        margin-right: $spacing / 1.5;
    }

    &--interactive {
        cursor: pointer;
    }

    &--link {
        display: inline-block;
        margin: 0 $spacing / 1.5;
    }
}

.icon-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    > .icon:not(:last-child) {
        margin-right: $spacing--double;
    }
}