@import '../../Variables.scss';
@import '../../Mixins.scss';

.button {
    cursor: pointer;
    text-decoration: none;
    padding: $spacing/1.5 $spacing*3;
    border-radius: 50px;
    display: inline-block;
    border: none;

    @include animateConfig;
    @include backgroundColour;
    @include colour;

    &:hover {
        color: $tertiary-colour;
    }

    &--primary {
        background-color: $primary-colour;

        &:hover {
            background-color: darken($primary-colour, 10%);
        }
    }

    &--secondary {
        background-color: $secondary-colour;
        color: $tertiary-colour;

        &:hover {
            background-color: darken($secondary-colour, 10%);
        }
    }

    &--secondary {
        background-color: $secondary-colour;
        color: $tertiary-colour;

        &:hover {
            background-color: darken($secondary-colour, 10%);
        }
    }

    &--disabled {
        color: darken($tertiary-colour, 20%);
        cursor: not-allowed;
    }
}

.button-group {
    > .button:not(:last-child) {
        margin-right: $spacing;
        margin-bottom: $spacing;
    }

    &--responsive {
        display: block;

        > .button {
            width: 100%;
            text-align: center;
            box-sizing: border-box;

            @media(min-width: 1200px) {
                width: auto;
                text-align: left;
                box-sizing: inherit;
            }
        }
    }
}