.flex {
    display: flex;
    flex-wrap: wrap;

    &--wrap {
        flex-wrap: wrap !important;
    }

    &--center {
        justify-content: center;
        align-items: center;
    }

    &--justify-center {
        justify-content: center;
    }

    &--align-center {
        align-items: center;
    }
}
