@import '../../Variables.scss';
@import '../../Mixins.scss';

.link {
    @include colour;

    cursor: pointer;
    text-decoration: none;
    color: $link-colour;

    &:hover {
        font-weight: bold;
    }
}
