$primary-colour: #24292E;
$secondary-colour: #4B5375;
$tertiary-colour: #FFFFFF;
$disabled-colour: #48525E;
$link-colour: #378AD3;

$spacing: 16px;
$spacing--double: 32px;

$border-radius: .75rem;
$box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.10);

$font-size: 16px;
$font-size--double: $font-size * 2;

$animation-speed: 0.2s;